.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImg {
  height: 400px;
  width: 400px;
  background-color: #F5F5F5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.features h1 {
  text-align: left;
}

button:hover {
  background-color: #56aae1;
}
