@import url('https://use.typekit.net/hwv5idc.css');

/* @font-face declarations */
@font-face {
    font-family: 'Neue Kable';
    src: url('../fonts/NeueKabel-Book.otf') format('opentype');
    font-weight: 500;
    font-style: normal; 
}

@font-face {
    font-family: 'Neue Kable';
    src: url('../fonts/NeueKabel-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Kable';
    src: url('../fonts/NeueKabel-ExtraBold.otf') format('opentype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Neue Kable';
    src: url('../fonts/NeueKabel-Black.otf') format('opentype');
    font-weight: 900;
    font-style: black;
}

:root {
  --ifm-color-primary: #84c1e9;
  --ifm-color-primary-dark: #65b1e3;
  --ifm-color-primary-darker: #56aae1;
  --ifm-color-primary-darkest: #2792d8;
  --ifm-color-primary-light: #a3d1ef;
  --ifm-color-primary-lighter: #b2d8f1;
  --ifm-color-primary-lightest: #e1f0fa;
}

body {
  font-family: 'Neue Kable', fallback-fonts;
  font-weight: 500;
  font-size: 20px; /* Adjusted to a more standard size */
}

h1 {
  font-family: 'Neue Kable', fallback-fonts;
  font-weight: 700;
  font-size: 2.5em; /* 36px when body is 18px */
  padding-bottom: 10px;
  padding-top: 10px;
}

h2, h3, h4, h5, h6 {
  font-family: 'Neue Kable', fallback-fonts;
  font-weight: 600;
  font-size: 2em; /* 27px when body is 18px */
}


@media (max-width: 967px) {
  .navbar__items {
    justify-content: flex-end;
  }

  .navbar__toggle {
    order: 2 !important;
  }
}

.navbar__item {
  font-size: 1em; /* 18px when body is 18px */
}

.navbar__item:hover {
  border-bottom: 2px solid white;
}

@media (max-width: 967px) {
  .navbar__brand {
    order: -1;
    margin-right: auto; /* This will push all subsequent items to the right */
  }
}

.tag {
  background-color: var(--ifm-color-primary);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.75em; /* Adjusted based on body font size */
}

.blog-post-content {
  font-family: 'Neue Kable', fallback-fonts;
  font-weight: 500;
  line-height: 1.6;
  font-size: 1.25em; /* 18px when body is 18px */
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid var(--ifm-color-primary);
}

pre, code {
  font-family: 'Monospace', fallback-fonts;
}

blockquote {
  border-left: 4px solid var(--ifm-color-primary);
  padding-left: 10px;
  font-style: italic;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ul li {
  font-family: 'Neue Kable', fallback-fonts;
  margin-bottom: 8px;
}

.admonition.tip, .admonition.danger {
  border: 1px solid var(--ifm-color-primary);
  background-color: var(--ifm-color-primary-lightest);
  padding: 15px;
  border-radius: 5px;
}

.admonition.tip .admonition-heading, .admonition.danger .admonition-heading {
  font-family: 'Neue Kable', fallback-fonts;
  font-weight: 600;
  color: var(--ifm-color-primary-darker);
}

.admonition.tip .admonition-content, .admonition.danger .admonition-content {
  font-family: 'Neue Kable', fallback-fonts;
}

.menu {
  background-color:  rgba(92, 92, 92, 0.3);
}

.menu__link {
  font-family: 'Neue Kable', sans-serif;
  font-weight: 500;
  color: var(--ifm-color-primary);
  font-size: 1.1em; /* Adjusted based on body font size */
}

.menu__link:hover {
  background-color: var(--ifm-color-primary-light);
  color: white;
}

[data-theme='dark'] {
  --ifm-color-primary: #84c1e9;
  --ifm-color-primary-dark: #65b1e3;
  --ifm-color-primary-darker: #56aae1;
  --ifm-color-primary-darkest: #2792d8;
  --ifm-color-primary-light: #a3d1ef;
  --ifm-color-primary-lighter: #b2d8f1;
  --ifm-color-primary-lightest: #e1f0fa;
  --docusaurus-highlighted-code-line-bg: rgba(17, 17, 17, 0.3);
}

.footer {
  background-color: 151516;
  padding: 20px;
  font-family: 'Neue Kable', fallback-fonts;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

/* Styling for Docusaurus 2 buttons */

.button {
  font-size: 1.05em; /* Set text size */
  transition: all 0.3s ease; /* Animation transition for hover effect */
}

.button--primary {
  background-color: lightblue; /* Light blue background */
}

.button--primary:hover {
  background-color: #c1d510; /* Slightly darker blue on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.button--secondary {
  background-color: lightblue; /* Light blue background */
}

.button--secondary:hover {
  background-color: #c1d510; /* Slightly darker blue on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.button--outline {
  border: 1px solid rgb(1, 1, 1); /* Light blue border */
  background-color: transparent; /* Transparent background */
  color: lightblue; /* Light blue text */
}

.button--outline:hover {
  background-color: lightblue; /* Light blue background on hover */
  color: #fff; /* White text on hover */
}

.button--link {
  color: lightblue; /* Light blue text */
}

.button--link:hover {
  color: #b3d1ff; /* Slightly darker blue on hover */
  text-decoration: underline; /* Underline text on hover */
}
