.card-demo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    width: 50%;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #ccc;
    padding: 20px;
  }
  
  .card__header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card__header h3 {
    color: #333;
  }
  
  .card__body {
    text-align: justify;
    margin-bottom: 20px;
  }
  
  .card__footer {
    text-align: center;
  }
  
  .button {
    background-color: #030603;
    color: rgb(11, 11, 11);
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #3e8e41;
  }
  
  .button--secondary {
    background-color: #a3d1ef;
  }
  
  .button--secondary:hover {
    background-color: #a3d1ef;
  }
  
  .button--block {
    width: 50%;
  }

.MyReactPage h1 {
    text-align: center;
  }
  
  .MyReactPage p {
    text-align: center;
  }

.MyReactPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  